<h1>Retro Video Game</h1>
<p></p>

<%= image_tag("Retro Game Wallpaper1.jpg", size: "800x400", :alt => "Retro Game") %>
<br></br>

<div class="container">
  <% @games.each do |game| %>
    <div class="col-md-4">
      <%= image_tag("Super_Mario_64_DS_Coverart.png", size: "100x100", :alt => game.name) %>
      <%= game.name %>
      <%= game.price %>
      <%= link_to 'Show', game %>
    </div>
  <% end %>
</div>

<%= link_to "Games", games_path %>
