<div>
  <h2>Games on Sale</h2>

  <% @games.each do |game| %>
    <div class="col-sm-4 padding-10">
      <% if game.image? %>
        <%= image_tag(game.image, size: "200x200", :alt => game.name) %>
        <% else %>
          <%= image_tag('no-image-available.jpeg', size: "200x200", :alt => game.name) %>
      <% end %>
      <h3><%= game.name %></h3>
      <p>AU $<%= game.price %></p>
      <p><%= link_to 'Show', game %></p>
    </div>
  <% end %>
</div>

<%= link_to "Games", games_path %>
